/*! Senti 2014
*/


/* HTML5reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000; 
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration:  line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}


/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Base styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}


::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}



/* ==========================================================================
   Onepage-scroll
   ========================================================================== */

body, html {
	margin: 0;
	overflow: hidden;
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	transition: opacity 400ms;
}

body, .onepage-wrapper, html {
	display: block;
	position: static;
	padding: 0;
	width: 100%;
	height: 100%;
}

.onepage-wrapper {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
	width: 100%;
	height: 100%;
}

.onepage-pagination {
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 5;
	list-style: none;
	margin: 0;
	padding: 0;
}
.onepage-pagination li {
	padding: 0;
	text-align: center;
}
.onepage-pagination li a {
	padding: 10px;
	width: 4px;
	height: 4px;
	display: block;
	outline: none;
}
.onepage-pagination li a:before{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	// background: rgba(0,0,0,0.85);
	background: #4EC3C7;
	border-radius: 10px;
	left: 12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.onepage-pagination li a.active:before{
	width: 10px;
	height: 10px;
	background: none;
	// border: 1px solid black;
	border: 1px solid #4EC3C7;
	margin-top: -4px;
	left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
	overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
	position: relative !important;
	top: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	transform: none !important;
	-ms-transform: none !important;
	min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
	display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
	position: inherit;
}


/* ==========================================================================
   Awesome custom styles
   ========================================================================== */


// A bunch of colors
$white: #FFFFFF;
$gray: #F7F7F7;
$blue: #00A7BC;
$logoblue: #4EC3C7;
$darkblue: #007D8D;
$lightblue: #B8E7E9;
$red: #CE1D23;
$darkred: #9B161A;
$yellow: #FBBD14;
$darkyellow: #BC8E0F;


$base: 'Roboto', sans-serif;
$dosis: 'Dosis', sans-serif;
$roboto: 'Roboto', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Dosis:300,500|Roboto:100,200,300,400,500);


// @font-face {
// 	font-family: VideoJS;
// 	src: url(//vjs.zencdn.net/4.2/f/1/vjs.eot);
// 	src: url(//vjs.zencdn.net/4.2/f/1/vjs.eot?#iefix) format('embedded-opentype'), url(//vjs.zencdn.net/4.2/f/1/vjs.woff) format('woff'), url(//vjs.zencdn.net/4.2/f/1/vjs.ttf) format('truetype');
// 	font-weight: 400;
// 	font-style: normal
// }


@function getpercent ($container, $parent) {
	@return ($container / $parent) * 100%;
}

@function hextorgba ($color, $opacity: 1) {
	@return rgba($color, $opacity);
}

@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}



@mixin boxshadow ($shadow) {
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
}

@mixin transform ($transform) {
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}

@mixin transition ($transition) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
}

@mixin transitiondelay ($transition) {
	transition-delay: $transition;
	-webkit-transition-delay: $transition;
	-moz-transition-delay: $transition;
	-o-transition-delay: $transition;
}

@mixin borderradiusall ($size) {
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	border-radius: $size;
}

@mixin borderradius ($cornery, $cornerx, $size) {
	-webkit-border-#{$cornery}-#{$cornerx}-radius: $size;
	-moz-border-#{$cornery}-#{$cornerx}-radius: $size;
	border-#{$cornery}-#{$cornerx}-radius: $size;
}






// Global vars
$fullwidth: 1140px;
$semifullwidth: 960px;


* {
	margin: 0;
	padding: 0;
}

body {
	font-family: $base;
}

html,
body {
	// height: 100%;
	-webkit-text-size-adjust: 100%; // Prevents scaling in landscape
}

a {
	color: $blue;
	text-decoration: none;
	@include transition(all 0.1s ease-in-out);
}


// Video
.video-js {
	// .vjs-play-progress,
	// .vjs-volume-level {
	// 	background-color: $blue !important;
	// 	background-image: none !important;
	// }
	// .vjs-seek-handle {
	// 	text-shadow: none !important;
	// 	@include transform(0deg !important);
	// 	@include boxshadow((
	// 		none !important
	// 	));
	// }
}





header#top {
	$headerheight: 90px;

	width: 100%;
	height: $headerheight;
	background-color: $logoblue;
	background-color: hextorgba($logoblue, 0.95);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	@include transition(all 0.5s ease-in-out);
	
	&.detached {
		$this_width: $semifullwidth + 80;
		width: $this_width;
		top: 30px;
		left: 50%;
		margin-left: -$this_width / 2;
	}

	&.transparent {
		background-color: transparent;

		nav#top-nav {
			ul {
				li {
					a {
						background-color: transparent !important;
					}
					&:last-child {
						a {
							background-color: black(0.2) !important;
						}
					}
				}
			}
		}
	}


	div#top-container {
		width: $semifullwidth;
		display: block !important;
		margin: 0 auto !important;
		position: relative;

		a#top-logo {
			width: 180px;
			height: 60px;
			background: transparent url('../img/logofull-white.png') no-repeat center center;
			background-size: contain;
			float: left;
			display: block;
			outline: 0;
			margin-top: 15px;
			margin-left: -10px;
		}
		nav#top-nav {
			float: right;
			margin-left: 60px;

			ul {
				li {
					float: left;

					a {
						height: $headerheight;
						color: #fff;
						font: 300 1.2em $roboto;
						text-shadow: 0 2px 0 black(0);
						line-height: $headerheight;
						letter-spacing: 1px;
						vertical-align: middle;
						display: block;
						padding: 0 15px;

						&.active, &:hover {
							background-color: white(0.1);
							text-shadow: 0 2px 0 black(0.05);
						}
					}

					&:last-child {
						// margin-right: -20px;
						padding: 0 0 0 20px;

						a {
							height: 40px;
							background-color: $blue;
							color: #fff;
							font: 400 1.25em $base;
							letter-spacing: 1px;
							line-height: 40px;
							text-align: center;
							margin: 20px 0;
							padding: 5px 15px;
							&:hover {
								background-color: $blue;
							}
						}
					}
				}
			}
		}
	}
}





div#maincontainer {
	z-index: 1;

	section.pane {
		background-position: center center;
		background-size: cover;
		text-align: center;
		position: relative;
	}
}




// Front pane
.pane-1 {
	background-image: url('../img/hero-bg.png');

	div.toptext {
		width: 100%;
		position: absolute;
		top: 28%;
		
		h1,
		h2 {
			color: #fff;
			text-shadow: 0 3px 2px black(0.25);
		}
		h1 {
			// color: $logoblue;
			font: 300 5em $dosis;
		}
		h2 {
			// color: $lightblue;
			font: 300 2.5em $dosis;
		}
	}
	div.bottombutton {
		width: 100%;
		position: absolute;
		bottom: 20%;

		button {
			background-color: $blue;
			color: #fff;
			font: 400 1.2em $roboto;
			text-shadow: 0 -1px 0 black(0.2);
			letter-spacing: 2px;
			padding: 12px 30px;
			border: none;
			@include borderradiusall(5px);
			@include transition(all 0.2s ease-in-out);
			@include boxshadow((
				0 3px 0 $darkblue
			));

			&:hover {
				background-color: $blue * 1.05;
			}
		}
	}
}




// Video
.pane-2 {
}




// Why Senti?
.pane-3 {
}




// Features
.pane-4 {
}




// Pricing
.pane-5 {
}




// Blog
.pane-6 {
	background-color: $logoblue;
	// background-color: $gray;

	div#blog {
		width: 100%;
		height: calc(100% - 150px);
		padding-top: 100px;

		div#blog-content {
			width: $semifullwidth;
			height: 100%;
			max-height: 1000px;
			margin: 0 auto;
			// background-color: black(0.1);

			section#bigarticle {
				width: (100% / 3) * 2;
				height: 100%;
				font-size: 0;
				// background-color: black(0.1);
				text-align: center;
				float: left;

				&:before {
					height: 100%;
					display: inline-block;
					vertical-align: middle;
					content: '';
					margin-right: -0.25em;
				}

				div#bigarticle-content {
					width: 100%;
					background-color: #fff;
					font-size: 12pt;
					display: inline-block;
					vertical-align: middle;
					position: relative;

					article {
						text-align: left;
						margin: 30px;

						h1.blog-title {
							color: $blue;
							font: 300 1.8em $base;
							margin-bottom: 5px;
						}
						div.blog-byline {
							font: 300 1em $base;
							margin-bottom: 20px;
						}
						p {
							font: 300 0.9em $base;
							line-height: 1.4em;
							margin-bottom: 20px;
						}
					}

					div#bigarticle-etc {
						width: 50%;
						position: absolute;
						top: 0;
						right: -50%;
						
						div#bigarticle-bubble {
							position: absolute;
							padding-top: 30px;

							&:before {
								width: 0;
								height: 0;
								display: block;
								position: absolute;
								top: 50px;
								left: 0;
								content: ' ';
								border-top: 20px solid transparent;
								border-left: 30px solid #fff;
								border-right: 30px solid transparent;
								border-bottom: 20px solid transparent;
							}
							
							div.head {
								width: 80px;
								height: 80px;
								background: url('../img/logo-white.png') no-repeat center center;
								background-size: contain;
								float: left;
								margin-left: 50px;
							}
							div.text {
								float: left;
								margin-left: 20px;

								h1.title {
									color: #fff;
									font: 200 4em $base;
									line-height: 70px;
									margin-bottom: 60px;
								}
							}
						}
						h3.moreentries {
							color: #fff;
							font: 500 0.9em $base;
							text-align: left;
							text-transform: uppercase;
							letter-spacing: 1px;
							margin-top: 160px;
							margin-left: 30px;
						}
						ul {
							list-style-type: none;
							margin: 20px 0 0;
							padding: 0;

							li {
								text-align: left;
								margin-left: 30px;
								margin-bottom: 20px;

								a {
									color: #fff;
								}
							}
						}
					}
				}
			}
			aside#blogsidebar {
				width: 33.3333%;
				float: right;
				// background-color: black(0.1);
				padding-top: 200px;
			}
		}
	}
}




// Contact
.pane-7 {
	div#bgmap {
		width: 100%;
		height: 100%;
		background-color: #eee;
	}
}
div#maptooltip {
	width: 350px;
	background-color: $logoblue;
	background-color: hextorgba($logoblue, 0.9);
	color: #fff;
	text-shadow: 0 1px 1px black(0.25);
	margin-top: 20px;
	padding: 20px 0;

	h1 {
		font: 500 3em $dosis;
		margin-bottom: 5px;
	}
	address {
		font: italic 400 1.5em $base;
		margin-bottom: 30px;
	}
	h2 {
		font: 500 2em $base;

		span {
			font-weight: 400;
			font-size: 0.9em;
			line-height: 0.5em;
			margin: 0 2px;
		}
	}
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Responsive Design.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
