@import url(http://fonts.googleapis.com/css?family=Dosis:300,500|Roboto:100,200,300,400,500);
/* Senti 2014
*/
/* HTML5reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  background-color: #393d3d;
}

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* ==========================================================================
   Base styles
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* ==========================================================================
   Onepage-scroll
   ========================================================================== */
body, html {
  margin: 0;
  /*overflow: hidden;*/
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms; }

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%; }

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d; }

.onepage-wrapper .section {
  width: 100%;
  height: 100%; }

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0; }
  .onepage-pagination.white li a:before {
    background-color: #fff !important; }
  .onepage-pagination.white li a.active:before {
    background-color: transparent !important;
    border-color: #fff !important; }

.onepage-pagination li {
  padding: 0;
  text-align: center; }

.onepage-pagination li a {
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  outline: none; }

.onepage-pagination li a:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #4EC3C7;
  border-radius: 10px;
  left: 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

.onepage-pagination li a.active:before {
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid #4EC3C7;
  margin-top: -4px;
  left: 8px; }

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto; }

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important; }

.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%; }

.disabled-onepage-scroll .onepage-pagination {
  display: none; }

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit; }

/* ==========================================================================
   Awesome custom styles
   ========================================================================== */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #000;
  font-family: "Roboto", "Helvetica", sans-serif;
  transition: background 1s ease-in-out;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out; }

html,
body {
  -webkit-text-size-adjust: 100%; }

a {
  color: #00a7bc;
  text-decoration: none;
  outline: 0 !important;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }

.verticalcenter, div#demopane {
  font-size: 0;
  text-align: center; }
  .verticalcenter:before, div#demopane:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em;
    content: ''; }

.verticalcentered, div#demopane-content,
div#contact-form {
  font-size: 12pt;
  display: inline-block;
  vertical-align: middle; }

.buttonshadow, header#top.alt-blue nav#top-nav ul li:last-child a, header#top div#top-container nav#top-nav ul li:last-child a, .pane-5 div#pricing div#pricing-content div#pricing-details a.button, div#demopane-content input[type="submit"],
div#contact-form input[type="submit"] {
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 100px rgba(255, 255, 255, 0);
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 100px rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }
  .buttonshadow:hover, header#top.alt-blue nav#top-nav ul li:last-child a:hover, header#top div#top-container nav#top-nav ul li:last-child a:hover, .pane-5 div#pricing div#pricing-content div#pricing-details a.button:hover, div#demopane-content input[type="submit"]:hover,
  div#contact-form input[type="submit"]:hover {
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 100px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 100px rgba(255, 255, 255, 0.1); }

header#top {
  width: 100%;
  height: 90px;
  background-color: #4ec3c7;
  background-color: rgba(78, 195, 199, 0.95);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
  header#top, header#top a {
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out; }
  header#top.detached {
    width: 1220px;
    top: 30px;
    left: 50%;
    margin-left: -610px; }
  header#top.transparent {
    background-color: transparent; }
    header#top.transparent nav#top-nav ul li a {
      background-color: transparent !important; }
      header#top.transparent nav#top-nav ul li a, header#top.transparent nav#top-nav ul li a.active {
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important; }
        header#top.transparent nav#top-nav ul li a:hover, header#top.transparent nav#top-nav ul li a.active:hover {
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important; }
    header#top.transparent nav#top-nav ul li:last-child a {
      background-color: rgba(0, 0, 0, 0.2) !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important; }
  header#top.alt-blue nav#top-nav ul li a {
    color: #4ec3c7 !important; }
    header#top.alt-blue nav#top-nav ul li a, header#top.alt-blue nav#top-nav ul li a.active {
      text-shadow: none !important; }
      header#top.alt-blue nav#top-nav ul li a:hover, header#top.alt-blue nav#top-nav ul li a.active:hover {
        text-shadow: none !important; }
  header#top.alt-blue nav#top-nav ul li:last-child a {
    background-color: transparent !important; }
  header#top div#top-container {
    width: 1140px;
    display: block !important;
    margin: 0 auto !important;
    position: relative; }
    header#top div#top-container a#top-logo,
    header#top div#top-container a#top-logo-alt {
      width: 180px;
      height: 60px;
      background: transparent url("../img/logofull-white.png") no-repeat center center;
      background-size: contain;
      float: left;
      outline: 0;
      margin-top: 15px;
      position: absolute;
      left: -10px;
      opacity: 1;
      transition: all 0.7s ease-in-out;
      -webkit-transition: all 0.7s ease-in-out;
      -moz-transition: all 0.7s ease-in-out;
      -o-transition: all 0.7s ease-in-out; }
      header#top div#top-container a#top-logo.hide,
      header#top div#top-container a#top-logo-alt.hide {
        opacity: 0; }
    header#top div#top-container a#top-logo-alt {
      opacity: 1;
      background-image: url("../img/logofull-blue.png"); }
    header#top div#top-container nav#top-nav {
      float: right;
      margin-left: 60px; }
      header#top div#top-container nav#top-nav ul li {
        float: left; }
        header#top div#top-container nav#top-nav ul li a {
          height: 90px;
          color: #fff;
          font: 300 1.2em "Roboto", "Helvetica", sans-serif;
          text-shadow: 0 2px 0 rgba(0, 0, 0, 0);
          line-height: 90px;
          letter-spacing: 1px;
          vertical-align: middle;
          display: block;
          padding: 0 15px; }
          header#top div#top-container nav#top-nav ul li a.active, header#top div#top-container nav#top-nav ul li a:hover {
            background-color: rgba(255, 255, 255, 0.1);
            text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05); }
        header#top div#top-container nav#top-nav ul li:last-child {
          padding: 0 0 0 20px; }
          header#top div#top-container nav#top-nav ul li:last-child a {
            height: 40px;
            background-color: #00a7bc;
            color: #fff;
            font: 400 1.25em "Roboto", "Helvetica", sans-serif;
            letter-spacing: 1px;
            line-height: 40px;
            text-align: center;
            margin: 20px 0;
            padding: 5px 15px 7px; }
            header#top div#top-container nav#top-nav ul li:last-child a:hover {
              background-color: #00a7bc; }

div#maincontainer {
  z-index: 1;
  transition: all ease .3s;
  position: relative;
  box-shadow: 0px 10px 50px #252828;
   }
  div#maincontainer section.pane {
    background-position: center center;
    background-size: cover;
    text-align: center;
    position: relative; }

.pane-1 {
  background-image: url("../img/hero-bg.jpg"); }
  .pane-1:before {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: ''; }
  .pane-1 div#hero {
    width: 1140px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden; }
    .pane-1 div#hero div.toptext {
      width: 100%;
      position: absolute;
      top: 22%; }
      .pane-1 div#hero div.toptext h1,
      .pane-1 div#hero div.toptext h2 {
        color: #fff;
        text-shadow: 0 3px 2px rgba(0, 0, 0, 0.25); }
      .pane-1 div#hero div.toptext h1 {
        font: 300 4.5em "Dosis", "Helvetica", sans-serif; }
      .pane-1 div#hero div.toptext h2 {
        font: 300 2.5em "Dosis", "Helvetica", sans-serif; }
    .pane-1 div#hero div.bottombutton {
      width: 100%;
      display: none;
      position: absolute;
      bottom: 20%; }
      .pane-1 div#hero div.bottombutton button {
        background-color: #00a7bc;
        color: #fff;
        font: 400 1.2em "Roboto", "Helvetica", sans-serif;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        letter-spacing: 2px;
        padding: 12px 30px;
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        box-shadow: 0 3px 0 #007d8d;
        -webkit-box-shadow: 0 3px 0 #007d8d; }
        .pane-1 div#hero div.bottombutton button:hover {
          background-color: #00afc5; }
    .pane-1 div#hero div.screenies {
      width: 80%;
      height: 80%;
      position: absolute;
      top: 60%;
      left: 10%; }
      .pane-1 div#hero div.screenies div.screenie-1,
      .pane-1 div#hero div.screenies div.screenie-2 {
        height: 100%;
        position: absolute;
        background-color: #fafafa;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3); }
      .pane-1 div#hero div.screenies div.screenie-1 {
        width: 60%;
        background-image: url("../img/hero-2.jpg");
        top: 0;
        right: 0;
        z-index: 2; }
      .pane-1 div#hero div.screenies div.screenie-2 {
        width: 50%;
        background-image: url("../img/hero-1.jpg");
        top: 10%;
        left: 0;
        z-index: 1;
        opacity: 0.9; }

.pane-3 {
  background: #f7f7f7 url("../img/about-bg.jpg") no-repeat center center;
  background-size: cover; }
  .pane-3:before {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: ''; }
  .pane-3 div#about {
    width: 768px;
    min-width: 768px;
    height: calc(100% - 100px);
    position: relative;
    margin: 0 auto;
    padding: 100px 0 10px; }
    .pane-3 div#about div#about-content {
      width: 100%;
      height: 100%;
      font-size: 0;
      text-align: center; }
      .pane-3 div#about div#about-content:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: -0.25em;
        content: ''; }
      .pane-3 div#about div#about-content div#about-writeup {
        width: 100%;
        font-size: 12pt;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .pane-3 div#about div#about-content div#about-writeup h1.title {
          width: 100%;
          color: #fff;
          font: 300 4em "Dosis", "Helvetica", sans-serif;
          text-align: center;
          text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
          display: block;
          margin: 0 0 40px;
          padding: 0; }
        .pane-3 div#about div#about-content div#about-writeup p {
          color: #fff;
          font: 300 1.2em "Roboto", "Helvetica", sans-serif;
          line-height: 1.6em;
          margin-bottom: 20px; }

.pane-4 {
  background: #f7f7f7 url("../img/features-bg.jpg") no-repeat center center;
  background-size: cover; }
  .pane-4:before {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: ''; }
  .pane-4 div#features {
    width: 1140px;
    min-width: 1140px;
    height: calc(100% - 100px);
    position: relative;
    margin: 0 auto;
    padding: 170px 0 10px; }
    .pane-4 div#features h1.title {
      width: 100%;
      color: #fff;
      font: 300 4.5em "Dosis", "Helvetica", sans-serif;
      text-align: center;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
      display: block;
      position: absolute;
      top: 20%; }
    .pane-4 div#features div#features-content {
      width: 100%;
      height: 100%;
      font-size: 0;
      text-align: center; }
      .pane-4 div#features div#features-content:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: -0.25em;
        content: ''; }
      .pane-4 div#features div#features-content ul {
        width: 100%;
        height: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .pane-4 div#features div#features-content ul li {
          width: calc(33.33333% - 15px);
          height: 100%;
          font-size: 0;
          display: inline-block;
          text-align: center; }
          .pane-4 div#features div#features-content ul li:not(:last-child) {
            margin-right: 20px; }
          .pane-4 div#features div#features-content ul li:nth-child(odd) div.hex {
            margin-bottom: 0px; }
          .pane-4 div#features div#features-content ul li:nth-child(even) div.hex {
            margin-top: 0px; }
          .pane-4 div#features div#features-content ul li:before {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            margin-right: -0.25em;
            content: ''; }
          .pane-4 div#features div#features-content ul li div.hex {
            width: 100%;
            height: auto;
            color: #fff;
            font-size: 12pt;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            z-index: 1; }
            .pane-4 div#features div#features-content ul li div.hex div.topend,
            .pane-4 div#features div#features-content ul li div.hex div.bottomend {
              width: 0;
              height: 0;
              display: none !important;
              position: absolute;
              content: '';
              left: 0;
              border-left: 0 solid transparent;
              border-right: 0 solid transparent;
              z-index: -1; }
            .pane-4 div#features div#features-content ul li div.hex div.topend {
              top: -160px;
              border-top: 80px solid transparent;
              border-bottom: 80px solid rgba(0, 0, 0, 0.3); }
            .pane-4 div#features div#features-content ul li div.hex div.bottomend {
              bottom: -160px;
              border-top: 80px solid rgba(0, 0, 0, 0.3);
              border-bottom: 80px solid transparent; }
            .pane-4 div#features div#features-content ul li div.hex div.img {
              width: 80px;
              height: 80px;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
              margin: -25px auto 5px;
              z-index: 1; }
              .pane-4 div#features div#features-content ul li div.hex div.img.img-1 {
                background-image: url("../img/features-1.png"); }
              .pane-4 div#features div#features-content ul li div.hex div.img.img-2 {
                background-image: url("../img/features-2.png"); }
              .pane-4 div#features div#features-content ul li div.hex div.img.img-3 {
                background-image: url("../img/features-3.png"); }
              .pane-4 div#features div#features-content ul li div.hex div.img.img-4 {
                background-image: url("../img/features-4.png"); }
            .pane-4 div#features div#features-content ul li div.hex h1 {
              font: 300 2em "Roboto", "Helvetica", sans-serif;
              line-height: 1.2em;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
              margin: 20px 0 30px; }
            .pane-4 div#features div#features-content ul li div.hex p {
              margin: 10px 20px;
              font: 400 0.85em "Roboto", "Helvetica", sans-serif;
              line-height: 1.5em;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.pane-5 {
  background-color: #f7f7f7; }
  .pane-5 div#pricing {
    width: 1140px;
    min-width: 1140px;
    height: calc(100% - 190px);
    position: relative;
    margin: 0 auto;
    padding: 120px 0 0; }
    .pane-5 div#pricing div#pricing-content {
      width: 100%;
      height: 100%;
      font-size: 0;
      text-align: center; }
      .pane-5 div#pricing div#pricing-content:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: -0.25em;
        content: ''; }
      .pane-5 div#pricing div#pricing-content div#pricing-details {
        width: 100%;
        font-size: 12pt;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative; }
        .pane-5 div#pricing div#pricing-content div#pricing-details h1.title,
        .pane-5 div#pricing div#pricing-content div#pricing-details h2.subtitle {
          width: 100%;
          text-align: center;
          text-shadow: 0 2px 1px rgba(255, 255, 255, 0.2);
          display: block;
          margin: 0;
          padding: 0; }
        .pane-5 div#pricing div#pricing-content div#pricing-details h1.title {
          color: #00a7bc;
          font: 300 2em "Dosis", "Helvetica", sans-serif;
          letter-spacing: 2px;
          word-spacing: 5px; }
        .pane-5 div#pricing div#pricing-content div#pricing-details h2.subtitle {
          color: #00a7bc;
          font: 300 1em "Roboto", "Helvetica", sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px; }
        .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-table {
          width: 960px;
          display: table;
          border-collapse: separate;
          border-spacing: 15px;
          margin: 0px auto 20px; }
          .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-table div.row {
            width: 100%;
            display: table-row;
            position: relative; }
            .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-table div.row div[class^='item'] {
              width: 33.33333333%;
              height: 100%;
              background-color: #fff;
              color: #00a7bc;
              font: 400 1.2em "Roboto", "Helvetica", sans-serif;
              display: table-cell;
              vertical-align: middle;
              border-bottom: 4px solid #4ec3c7;
              padding: 10px 30px;
              box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
              -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05); }
              .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-table div.row div[class^='item']:not(:last-child) {
                margin-right: 15px; }
              .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-table div.row div[class^='item'] strong {
                font-weight: 500; }
              .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-table div.row div[class^='item'] small {
                font-size: 0.85em;
                font-weight: 300; }
              .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-table div.row div[class^='item'] ul.channels {
                text-align: center;
                list-style-type: none;
                margin: 5px;
                padding: 0; }
                .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-table div.row div[class^='item'] ul.channels li {
                  display: inline-block;
                  margin: 0 2px; }
                  .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-table div.row div[class^='item'] ul.channels li i {
                    font-size: 0.9em; }
        .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-price {
          text-align: center;
          color: #00a7bc;
          margin-bottom: 10px; }
          .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-price div {
            height: 60px;
            font-size: 1.2em;
            display: inline-block;
            margin: 0 8px; }
            .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-price div h1,
            .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-price div h2 {
              display: table-cell;
              vertical-align: middle;
              text-align: left; }
            .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-price div h1 {
              font: 500 2.5em "Roboto", "Helvetica", sans-serif;
              line-height: 1em; }
            .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-price div h2 {
              font: 300 1em "Roboto", "Helvetica", sans-serif;
              line-height: 1.2em;
              letter-spacing: 2px; }
        .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-addons {
          margin-bottom: 30px; }
          .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-addons h1 {
            color: #00a7bc;
            font: 400 1.5em "Dosis", "Helvetica", sans-serif; }
          .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-addons ul {
            text-align: center;
            margin: 10px auto 0;
            padding: 0;
            list-style-type: none; }
            .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-addons ul li {
              display: inline-block;
              clear: both;
              box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
              -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05); }
              .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-addons ul li:not(:last-child) {
                margin-right: 20px; }
              .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-addons ul li div {
                float: left;
                font-size: 1.2em;
                padding: 8px 15px; }
              .pane-5 div#pricing div#pricing-content div#pricing-details div#pricing-addons ul li div:first-child {
                background-color: #fff;
                color: #00a7bc;
                padding: 8px 15px; }
        .pane-5 div#pricing div#pricing-content div#pricing-details a.button {
          background-color: #4ec3c7;
          color: #fff;
          font: 500 1em "Roboto", "Helvetica", sans-serif;
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding: 15px 20px 20px; }
          .pane-5 div#pricing div#pricing-content div#pricing-details a.button i.fa {
            margin-right: 15px; }
          .pane-5 div#pricing div#pricing-content div#pricing-details a.button.buy {
            margin-right: 15px; }
          .pane-5 div#pricing div#pricing-content div#pricing-details a.button.try {
            background-color: #00a7bc; }

.pane-6 {
  background-color: #4ec3c7; }
  .pane-6 div#blog {
    width: 100%;
    height: calc(100% - 180px);
    padding-top: 130px; }
    .pane-6 div#blog div#blog-content {
      width: 960px;
      height: 100%;
      max-height: 1000px;
      margin: 0 auto; }
      .pane-6 div#blog div#blog-content section#bigarticle {
        width: 66.66667%;
        height: 100%;
        font-size: 0;
        text-align: center;
        float: left; }
        .pane-6 div#blog div#blog-content section#bigarticle:before {
          height: 100%;
          display: inline-block;
          vertical-align: middle;
          content: '';
          margin-right: -0.25em; }
        .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content {
          width: 100%;
          background-color: #fff;
          font-size: 12pt;
          display: inline-block;
          vertical-align: middle;
          position: relative; }
          .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content article {
            text-align: left;
            margin: 30px; }
            .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content article h1.blog-title {
              color: #00a7bc;
              font: 300 1.8em "Roboto", "Helvetica", sans-serif;
              margin-bottom: 5px; }
            .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content article div.blog-byline {
              font: 300 1em "Roboto", "Helvetica", sans-serif;
              margin-bottom: 20px; }
            .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content article p {
              font: 300 0.9em "Roboto", "Helvetica", sans-serif;
              line-height: 1.4em;
              margin-bottom: 20px; }
          .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc {
            width: 50%;
            position: absolute;
            top: 0;
            right: -50%; }
            .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc div#bigarticle-bubble {
              position: absolute;
              padding-top: 20px; }
              .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc div#bigarticle-bubble:before {
                width: 0;
                height: 0;
                display: block;
                position: absolute;
                top: 40px;
                left: 0;
                content: ' ';
                border-top: 20px solid transparent;
                border-left: 30px solid #fff;
                border-right: 30px solid transparent;
                border-bottom: 20px solid transparent; }
              .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc div#bigarticle-bubble div.head {
                width: 80px;
                height: 80px;
                background: url("../img/logo-white.png") no-repeat center center;
                background-size: contain;
                float: left;
                margin-left: 50px; }
              .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc div#bigarticle-bubble div.text {
                float: left;
                margin-left: 20px; }
                .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc div#bigarticle-bubble div.text h1.title {
                  color: #fff;
                  font: 200 4em "Roboto", "Helvetica", sans-serif;
                  line-height: 70px;
                  margin-bottom: 60px; }
            .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc h3.moreentries {
              color: #fff;
              font: 500 0.9em "Roboto", "Helvetica", sans-serif;
              text-align: left;
              text-transform: uppercase;
              letter-spacing: 1px;
              margin-top: 130px;
              margin-left: 30px; }
            .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc ul {
              list-style-type: none;
              margin: 20px 0 0;
              padding: 0; }
              .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc ul li {
                text-align: left;
                margin-left: 30px;
                margin-bottom: 20px; }
                .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc ul li a {
                  color: #fff;
                  font: 400 1em "Roboto", "Helvetica", sans-serif; }
                .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc ul li.more {
                  text-align: right; }
                  .pane-6 div#blog div#blog-content section#bigarticle div#bigarticle-content div#bigarticle-etc ul li.more a {
                    font-size: 0.8em;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    border-bottom: 1px dotted rgba(255, 255, 255, 0.5); }
      .pane-6 div#blog div#blog-content aside#blogsidebar {
        width: 33.3333%;
        float: right;
        padding-top: 200px; }

.pane-7 {
  background-color: #f7f7f7; }
  .pane-7 div#contact {
    width: 1140px;
    min-width: 1140px;
    height: calc(100% - 190px);
    margin: 0 auto;
    padding: 120px 0 0; }
    .pane-7 div#contact div#contact-content {
      width: 100%;
      height: 100%;
      font-size: 0;
      text-align: center; }
      .pane-7 div#contact div#contact-content:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: -0.25em;
        content: ''; }
      .pane-7 div#contact div#contact-content div#contact-form {
        max-width: 500px;
        font-size: 12pt;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        background-color: transparent; }
        .pane-7 div#contact div#contact-content div#contact-form h1 {
          font-size: 2em; }
        .pane-7 div#contact div#contact-content div#contact-form h2 {
          font-weight: 300; }
        .pane-7 div#contact div#contact-content div#contact-form form input[type="text"],
        .pane-7 div#contact div#contact-content div#contact-form form textarea {
          width: 400px; }
        .pane-7 div#contact div#contact-content div#contact-form form textarea {
          min-height: 80px;
          max-height: 80px; }

div#demopane {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0); }
  div#demopane div.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }

div#demopane-content,
div#contact-form {
  max-width: 400px;
  background-color: #fafafa;
  padding: 30px 40px 40px;
  z-index: 2; }
  div#demopane-content h1, div#demopane-content h2,
  div#contact-form h1,
  div#contact-form h2 {
    color: #007d8d;
    padding: 0; }
  div#demopane-content h1,
  div#contact-form h1 {
    font: 400 3em "Dosis", "Helvetica", sans-serif;
    margin: 0 0 10px; }
  div#demopane-content h2,
  div#contact-form h2 {
    font: 400 1.2em "Roboto", "Helvetica", sans-serif;
    margin: 0 0 30px; }
  div#demopane-content input[type="text"],
  div#demopane-content textarea,
  div#contact-form input[type="text"],
  div#contact-form textarea {
    width: 300px;
    color: #222;
    font: 300 1.2em "Roboto", "Helvetica", sans-serif;
    text-align: center;
    display: block;
    margin: 0 auto 15px;
    padding: 12px 15px;
    border: none;
    outline: none !important;
    border-top: 0px solid #4ec3c7;
    border-left: 0px solid #4ec3c7;
    border-right: 0px solid #4ec3c7;
    border-bottom: 2px solid #4ec3c7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  div#demopane-content textarea,
  div#contact-form textarea {
    text-align: left;
    font-size: 1em;
    min-height: 100px;
    max-height: 100px; }
  div#demopane-content input[type="submit"],
  div#contact-form input[type="submit"] {
    color: #fff;
    background-color: #4ec3c7;
    font: 400 1.25em "Roboto", "Helvetica", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin: 30px auto 0;
    padding: 10px 30px 14px;
    border: none;
    outline: none; }

.animated, div#demopane-content input[type="text"],
div#demopane-content textarea,
div#contact-form input[type="text"],
div#contact-form textarea, div#demopane-content input[type="submit"],
div#contact-form input[type="submit"] {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); } }

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); } }

.shake {
  -webkit-animation-name: shake;
  animation-name: shake; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Responsive Design.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

footer {
  width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 60px;    
}

footer .clear {
  width: 1140px;
  display: bock;
  height: 120px;
}

footer .col {
  width: 265px;
  float: left;
  color: #fff;
  font-weight: 300;
  padding: 0 10px;
}

.col-1 {
  //width: 220px !important;
}

.col-1 img {
  width: 180px;
  height: 60px;
}

.col-1 p {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.6;
  line-height: 120%;
}

.col-2 {
  width: 200px !important;
}

.col-2 .socialmedia {
  list-style: none;
  margin-top: 5px;
  display: inline-block;
}

.socialmedia li {
  float: left;
  margin-right: 15px;
}

.socialmedia a {
  color: #fff;
  font-size: 25px;
}

.sitemap-wrapper {
  display: block;
}

.sitemap {
  list-style: none;
  float: left;
  margin-top: 19px;
  margin-right: 30px;
}

.sitemap li {
  margin-bottom: 2px;
}

.sitemap a {
  color: #fff;
  opacity: 0.5;
  transition: all 0.3;
  font-weight: 400;
  font-size: 14px;
}

.sitemap a:hover {
  opacity: 1;
}

.col-3, .col-4 {
  font-size: 14px;
}

.col-3 {
  width: 320px !important;
}

.col-3 li {
  margin-bottom: 12px;
  line-height: 120%;
}

.col-3 i {
  opacity: 100% !important;
  transform: translate(-5px,1px);
}

.col-3 span {
  opacity: 0.7;
  transition: all 0.2s;
}

.col-3 span:hover {
  opacity: 1;
  cursor: pointer;
}

.col-4 p {
  line-height: 120%;
  opacity: 0.6;
}

.subscribe-email {
  height: 23px;
  width: 200px;
  border: 0px;
  border-bottom: 2px solid #646d6d !important;
  outline: none !important;
  padding: 8px 12px;
  background-color: #c0cdcd;
  margin-top: 18px;
}

.subscribe-submit {
    color: #fff;
  background-color: #4ec3c7;
  font: 400 1.25em "Roboto", "Helvetica", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  padding: 8px 26px 10px;
  border: none;
  outline: none;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 100px rgba(255, 255, 255, 0);
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.1), inset 0 0 0 100px rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}

#floating-nav {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 200;
  display: block;
  background-color: #46afb2;
  transform: translateY(-50px);
  transition: all ease .2s;
}

#floating-content {
  width: 1140px;
  margin: 0 auto;
  line-height: 50px;
}

.floating-logo img {
  width: 90px;
  height: auto;
  float: left;
  transform: translateY(10px);
}

.floating-links ul {
  list-style: none;
  float: right;
}

.floating-links li {
  float: left;
  margin-left: 20px;
}

.floating-links a {
  color: #fff;
  font-size: 14px;
}