/*! Senti 2014
*/


/* HTML5reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html {
	background-color: #393d3d;
}

body {
	line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display: block;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000; 
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration:  line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;   
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}


/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Base styles
   ========================================================================== */

   html,
   button,
   input,
   select,
   textarea {
   	color: #222;
   }

   html {
   	font-size: 1em;
   	line-height: 1.4;
   }

   ::-moz-selection {
   	background: #b3d4fc;
   	text-shadow: none;
   }


   ::selection {
   	background: #b3d4fc;
   	text-shadow: none;
   }

   hr {
   	display: block;
   	height: 1px;
   	border: 0;
   	border-top: 1px solid #ccc;
   	margin: 1em 0;
   	padding: 0;
   }

   audio,
   canvas,
   img,
   video {
   	vertical-align: middle;
   }

   fieldset {
   	border: 0;
   	margin: 0;
   	padding: 0;
   }

   textarea {
   	resize: vertical;
   }



/* ==========================================================================
   Onepage-scroll
   ========================================================================== */

   body, html {
   	margin: 0;
   	/*overflow: hidden;*/
   	-webkit-transition: opacity 400ms;
   	-moz-transition: opacity 400ms;
   	transition: opacity 400ms;
   }

   body, .onepage-wrapper, html {
   	display: block;
   	position: static;
   	padding: 0;
   	width: 100%;
   	height: 100%;
   }

   .onepage-wrapper {
   	width: 100%;
   	height: 100%;
   	display: block;
   	position: relative;
   	padding: 0;
   	-webkit-transform-style: preserve-3d;
   }

   .onepage-wrapper .section {
   	width: 100%;
   	height: 100%;
   }

   .onepage-pagination {
   	position: absolute;
   	right: 10px;
   	top: 50%;
   	z-index: 5;
   	list-style: none;
   	margin: 0;
   	padding: 0;

   	&.white {
   		li a:before {
   			background-color: #fff !important;
   		}
   		li a.active:before {
   			background-color: transparent !important;
   			border-color: #fff !important;
   		}
   	}
   }
   .onepage-pagination li {
   	padding: 0;
   	text-align: center;
   }
   .onepage-pagination li a {
   	padding: 10px;
   	width: 4px;
   	height: 4px;
   	display: block;
   	outline: none;
   }
   .onepage-pagination li a:before{
   	content: '';
   	position: absolute;
   	width: 4px;
   	height: 4px;
	// background: rgba(0,0,0,0.85);
	background: #4EC3C7;
	border-radius: 10px;
	left: 12px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.onepage-pagination li a.active:before{
	width: 10px;
	height: 10px;
	background: none;
	// border: 1px solid black;
	border: 1px solid #4EC3C7;
	margin-top: -4px;
	left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
	overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
	position: relative !important;
	top: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	transform: none !important;
	-ms-transform: none !important;
	min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
	display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
	position: inherit;
}


/* ==========================================================================
   Awesome custom styles
   ========================================================================== */


// A bunch of colors
$white: #FFFFFF;
$gray: #F7F7F7;
$blue: #00A7BC;
$logoblue: #4EC3C7;
$darkblue: #007D8D;
$lightblue: #B8E7E9;
$red: #CE1D23;
$darkred: #9B161A;
$yellow: #FBBD14;
$darkyellow: #BC8E0F;


$base: 'Roboto', 'Helvetica', sans-serif;
$dosis: 'Dosis', 'Helvetica', sans-serif;
$roboto: 'Roboto', 'Helvetica', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Dosis:300,500|Roboto:100,200,300,400,500);


// @font-face {
// 	font-family: VideoJS;
// 	src: url(//vjs.zencdn.net/4.2/f/1/vjs.eot);
// 	src: url(//vjs.zencdn.net/4.2/f/1/vjs.eot?#iefix) format('embedded-opentype'), url(//vjs.zencdn.net/4.2/f/1/vjs.woff) format('woff'), url(//vjs.zencdn.net/4.2/f/1/vjs.ttf) format('truetype');
// 	font-weight: 400;
// 	font-style: normal
// }


@function getpercent ($container, $parent) {
	@return ($container / $parent) * 100%;
}

@function hextorgba ($color, $opacity: 1) {
	@return rgba($color, $opacity);
}

@function black($opacity) {
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
	@return rgba(255, 255, 255, $opacity);
}



@mixin boxshadow ($shadow) {
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
}

@mixin transform ($transform) {
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}

@mixin transition ($transition) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
}

@mixin transitiondelay ($transition) {
	transition-delay: $transition;
	-webkit-transition-delay: $transition;
	-moz-transition-delay: $transition;
	-o-transition-delay: $transition;
}

@mixin borderradiusall ($size) {
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	border-radius: $size;
}

@mixin borderradius ($cornery, $cornerx, $size) {
	-webkit-border-#{$cornery}-#{$cornerx}-radius: $size;
	-moz-border-#{$cornery}-#{$cornerx}-radius: $size;
	border-#{$cornery}-#{$cornerx}-radius: $size;
}






// Global vars
$fullwidth: 1140px;
$semifullwidth: 960px;
// $semifullwidth: 1140px;


* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	font-family: $base;
	@include transition(background 1s ease-in-out);
}

html,
body {
	-webkit-text-size-adjust: 100%; // Prevents scaling in landscape
}

a {
	color: $blue;
	text-decoration: none;
	outline: 0 !important;
	@include transition(all 0.1s ease-in-out);
}


.verticalcenter {
	font-size: 0;
	text-align: center;

	&:before {
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		margin-right: -0.25em;
		content: '';
	}
}
.verticalcentered {
	font-size: 12pt;
	display: inline-block;
	vertical-align: middle;
}


// Video
.video-js {
	// .vjs-play-progress,
	// .vjs-volume-level {
	// 	background-color: $blue !important;
	// 	background-image: none !important;
	// }
	// .vjs-seek-handle {
	// 	text-shadow: none !important;
	// 	@include transform(0deg !important);
	// 	@include boxshadow((
	// 		none !important
	// 	));
	// }
}


.buttonshadow {
	@include boxshadow((
		inset 0 -5px 0 0 black(0.1),
		inset 0 0 0 100px white(0)
		));
	@include transition(all 0.2s ease-in-out);

	&:hover {
		@include boxshadow((
			inset 0 -4px 0 0 black(0.1),
			inset 0 0 0 100px white(0.1)
			));
	}
}





header#top {
	$headerheight: 90px;

	width: 100%;
	height: $headerheight;
	background-color: $logoblue;
	background-color: hextorgba($logoblue, 0.95);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	
	&, a {
		@include transition(all 0.7s ease-in-out);
	}

	&.detached {
		$this_width: $fullwidth + 80;
		width: $this_width;
		top: 30px;
		left: 50%;
		margin-left: -$this_width / 2;
	}

	&.transparent {
		background-color: transparent;

		nav#top-nav {
			ul {
				li {
					a {
						background-color: transparent !important;

						&, &.active {
							text-shadow: 0 1px 1px black(0.05) !important;

							&:hover {
								text-shadow: 0 1px 1px black(0.15) !important;
							}
						}
					}
					&:last-child {
						a {
							background-color: black(0.2) !important;
							@include boxshadow(none !important);
						}
					}
				}
			}
		}
	}
	&.alt-blue {
		nav#top-nav {
			ul {
				li {
					a {
						color: $logoblue !important;

						&, &.active {
							text-shadow: none !important;

							&:hover {
								text-shadow: none !important;
							}
						}
					}
					&:last-child {
						a {
							@extend .buttonshadow;
							background-color: transparent !important;
						}
					}
				}
			}
		}
	}


	div#top-container {
		width: $fullwidth;
		display: block !important;
		margin: 0 auto !important;
		position: relative;

		a#top-logo,
		a#top-logo-alt {
			width: 180px;
			height: 60px;
			background: transparent url('../img/logofull-white.png') no-repeat center center;
			background-size: contain;
			float: left;
			outline: 0;
			margin-top: 15px;
			position: absolute;
			left: -10px;
			opacity: 1;
			@include transition(all 0.7s ease-in-out);

			&.hide {
				opacity: 0;
			}
		}
		a#top-logo-alt {
			opacity: 1;
			background-image: url('../img/logofull-blue.png');
		}
		nav#top-nav {
			float: right;
			margin-left: 60px;

			ul {
				li {
					float: left;

					a {
						height: $headerheight;
						color: #fff;
						font: 300 1.2em $roboto;
						text-shadow: 0 2px 0 black(0);
						line-height: $headerheight;
						letter-spacing: 1px;
						vertical-align: middle;
						display: block;
						padding: 0 15px;

						&.active, &:hover {
							background-color: white(0.1);
							text-shadow: 0 2px 0 black(0.05);
						}
					}

					&:last-child {
						// margin-right: -20px;
						padding: 0 0 0 20px;

						a {
							@extend .buttonshadow;
							height: 40px;
							background-color: $blue;
							color: #fff;
							font: 400 1.25em $base;
							letter-spacing: 1px;
							line-height: 40px;
							text-align: center;
							margin: 20px 0;
							padding: 5px 15px 7px;
							&:hover {
								background-color: $blue;
							}
						}
					}
				}
			}
		}
	}
}





div#maincontainer {
	z-index: 1;
	transition: all ease .3s;
	box-shadow: 0px 10px 50px #252828;
	section.pane {
		background-position: center center;
		background-size: cover;
		text-align: center;
		position: relative;
	}
}




// Front pane
.pane-1 {
	background-image: url('../img/hero-bg.jpg');
	
	&:before {
		width: 100%;
		height: 100%;
		background-color: black(0.6);
		// background-color: hextorgba($darkblue - #444, 0.4);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}

	div#hero {
		width: $fullwidth;
		height: 100%;
		position: relative;
		margin: 0 auto;
		overflow: hidden;

		div.toptext {
			width: 100%;
			position: absolute;
			top: 22%;
			
			h1,
			h2 {
				color: #fff;
				text-shadow: 0 3px 2px black(0.25);
			}
			h1 {
				// color: $logoblue;
				font: 300 4.5em $dosis;
			}
			h2 {
				// color: $lightblue;
				font: 300 2.5em $dosis;
			}
		}
		div.bottombutton {
			width: 100%;
			display: none;
			position: absolute;
			bottom: 20%;

			button {
				background-color: $blue;
				color: #fff;
				font: 400 1.2em $roboto;
				text-shadow: 0 -1px 0 black(0.2);
				letter-spacing: 2px;
				padding: 12px 30px;
				border: none;
				@include borderradiusall(5px);
				@include transition(all 0.2s ease-in-out);
				@include boxshadow((
					0 3px 0 $darkblue
					));

				&:hover {
					background-color: $blue * 1.05;
				}
			}
		}
		div.screenies {
			$hor_offset: 20%;
			$top_position: 60%;

			width: 100% - $hor_offset;
			height: 80%;
			// background-color: white(0.1);
			position: absolute;
			top: $top_position;
			left: $hor_offset / 2;

			div.screenie-1,
			div.screenie-2 {
				height: 100%;
				position: absolute;
				background-color: #fafafa;
				background-position: top center;
				background-repeat: no-repeat;
				background-size: contain;
				@include boxshadow((
					0 20px 40px black(0.3)
					));
			}
			div.screenie-1 {
				width: 60%;
				background-image: url('../img/hero-2.jpg');
				top: 0;
				right: 0;
				z-index: 2;
			}
			div.screenie-2 {
				width: 50%;
				background-image: url('../img/hero-1.jpg');
				top: 10%;
				left: 0;
				z-index: 1;
				opacity: 0.9;
			}
		}
	}
}




// Video
.pane-2 {
}




// Why Senti?
.pane-3 {
	background: $gray url('../img/about-bg.jpg') no-repeat center center;
	background-size: cover;

	&:before {
		width: 100%;
		height: 100%;
		background-color: black(0.6);
		// background-color: hextorgba($darkblue - #444, 0.4);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}

	div#about {
		width: $semifullwidth * 0.8;
		min-width: $semifullwidth * 0.8;
		height: calc(100% - 100px);
		position: relative;
		margin: 0 auto;
		padding: 100px 0 10px;

		div#about-content {
			width: 100%;
			height: 100%;
			font-size: 0;
			text-align: center;
			
			&:before {
				height: 100%;
				display: inline-block;
				vertical-align: middle;
				margin-right: -0.25em;
				content: '';
			}
			
			div#about-writeup {
				width: 100%;
				// height: 100%;
				font-size: 12pt;
				text-align: center;
				display: inline-block;
				vertical-align: middle;
				list-style-type: none;
				margin: 0;
				padding: 0;

				h1.title {
					width: 100%;
					color: #fff;
					font: 300 4em $dosis;
					text-align: center;
					text-shadow: 0 2px 1px black(0.2);
					display: block;
					margin: 0 0 40px;
					padding: 0;
				}
				p {
					color: #fff;
					font: 300 1.2em $base;
					line-height: 1.6em;
					margin-bottom: 20px;
				}
			}
		}
	}
}




// Features
.pane-4 {
	background: $gray url('../img/features-bg.jpg') no-repeat center center;
	background-size: cover;

	&:before {
		width: 100%;
		height: 100%;
		background-color: black(0.6);
		// background-color: hextorgba($darkblue - #444, 0.4);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}

	div#features {
		width: $fullwidth;
		min-width: $fullwidth;
		height: calc(100% - 100px);
		position: relative;
		margin: 0 auto;
		padding: 170px 0 10px;

		h1.title {
			width: 100%;
			color: #fff;
			font: 300 4.5em $dosis;
			text-align: center;
			text-shadow: 0 2px 1px black(0.2);
			display: block;
			position: absolute;
			top: 20%;
		}
		div#features-content {
			width: 100%;
			height: 100%;
			font-size: 0;
			text-align: center;
			
			&:before {
				height: 100%;
				display: inline-block;
				vertical-align: middle;
				margin-right: -0.25em;
				content: '';
			}
			
			ul {
				width: 100%;
				height: 100%;
				text-align: center;
				display: inline-block;
				vertical-align: middle;
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					$hor_offset: 20px;
					$ver_offset: 0px;

					width: calc(33.33333% - 15px);
					height: 100%;
					font-size: 0;
					display: inline-block;
					text-align: center;
					
					&:not(:last-child) {
						margin-right: $hor_offset;
					}
					&:nth-child(odd) div.hex {
						margin-bottom: $ver_offset;
					}
					&:nth-child(even) div.hex {
						margin-top: $ver_offset;
					}

					&:before {
						height: 100%;
						display: inline-block;
						vertical-align: middle;
						margin-right: -0.25em;
						content: '';
					}

					div.hex {
						$background: black(0.3);
						$hexheight: 240px;
						$tailheight: 160px;

						width: 100%;
						// height: $hexheight;
						height: auto;
						// background-color: $background;
						color: #fff;
						font-size: 12pt;
						display: inline-block;
						vertical-align: middle;
						position: relative;
						z-index: 1;

						div.topend,
						div.bottomend {
							width: 0;
							height: 0;
							display: none !important;
							position: absolute;
							content: '';
							left: 0;
							border-left: 0 solid transparent;
							border-right: 0 solid transparent;
							z-index: -1;
						}
						div.topend {
							top: -$tailheight;
							border-top: $tailheight / 2 solid transparent;
							border-bottom: $tailheight / 2 solid $background;
						}
						div.bottomend {
							bottom: -$tailheight;
							border-top: $tailheight / 2 solid $background;
							border-bottom: $tailheight / 2 solid transparent;
						}
						div.img {
							width: 80px;
							height: 80px;
							background-position: center center;
							background-repeat: no-repeat;
							background-size: contain;
							margin: -25px auto 5px;
							z-index: 1;

							@for $i from 1 through 4 {
								&.img-#{$i} {
									background-image: url('../img/features-#{$i}.png');
								}
							}
						}
						h1 {
							font: 300 2em $base;
							line-height: 1.2em;
							text-shadow: 0 1px 1px black(0.2);
							margin: 20px 0 30px;
						}
						p {
							margin: 10px 20px;
							font: 400 0.85em $base;
							line-height: 1.5em;
							text-shadow: 0 1px 1px black(0.2);
						}
					}
				}
			}
		}
	}
}




// Pricing
.pane-5 {
	background-color: #f7f7f7;

	div#pricing {
		width: $fullwidth;
		min-width: $fullwidth;
		height: calc(100% - 190px);
		position: relative;
		margin: 0 auto;
		padding: 120px 0 0;

		div#pricing-content {
			width: 100%;
			height: 100%;
			// background-color: black(0.1);
			font-size: 0;
			text-align: center;
			
			&:before {
				height: 100%;
				display: inline-block;
				vertical-align: middle;
				margin-right: -0.25em;
				content: '';
			}
			
			div#pricing-details {
				width: 100%;
				// width: 800px;
				font-size: 12pt;
				text-align: center;
				display: inline-block;
				vertical-align: middle;
				list-style-type: none;
				margin: 0;
				padding: 0;
				position: relative;
				
				h1.title,
				h2.subtitle {
					width: 100%;
					text-align: center;
					text-shadow: 0 2px 1px white(0.2);
					display: block;
					margin: 0;
					padding: 0;
				}
				h1.title {
					color: $blue;
					font: 300 2em $dosis;
					// text-transform: uppercase;
					letter-spacing: 2px;
					word-spacing: 5px;
				}
				h2.subtitle {
					color: $blue;
					font: 300 1em $base;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
				div#pricing-table {
					// width: calc(100% - 8px);
					width: $semifullwidth;
					display: table;
					// border: 4px solid $logoblue;
					border-collapse: separate;
					border-spacing: 15px;
					margin: 0px auto 20px;

					div.row {
						width: 100%;
						// background-color: black(0.1);
						display: table-row;
						position: relative;

						div[class^='item'] {
							width: 33.33333333%;
							height: 100%;
							// background-color: #B8E7E9;
							background-color: #fff;
							// background-color: $logoblue;
							// background-color: #fafafa;
							// color: #fff;
							color: $blue;
							font: 400 1.2em $base;
							display: table-cell;
							vertical-align: middle;
							border-bottom: 4px solid $logoblue;
							padding: 10px 30px;
							@include boxshadow((
								0 2px 3px black(0.05)
								));

							&:not(:last-child) {
								margin-right: 15px;
							}
							strong {
								font-weight: 500;
							}
							small {
								font-size: 0.85em;
								font-weight: 300;
							}
							ul.channels {
								text-align: center;
								list-style-type: none;
								margin: 5px;
								padding: 0;

								li {
									display: inline-block;
									margin: 0 2px;

									i {
										font-size: 0.9em;
									}
								}
							}
						}
					}
				}
				div#pricing-price {
					text-align: center;
					color: $blue;
					// margin-top: 10px;
					margin-bottom: 10px;
					
					div {
						height: 60px;
						font-size: 1.2em;
						display: inline-block;
						margin: 0 8px;

						h1,
						h2 {
							display: table-cell;
							vertical-align: middle;
							text-align: left;
						}
						h1 {
							font: 500 2.5em $base;
							line-height: 1em;
						}
						h2 {
							font: 300 1em $base;
							line-height: 1.2em;
							letter-spacing: 2px;
						}
					}
				}
				div#pricing-addons {
					margin-bottom: 30px;

					h1 {
						color: $blue;
						font: 400 1.5em $dosis;
					}
					ul {
						text-align: center;
						margin: 10px auto 0;
						padding: 0;
						list-style-type: none;

						li {
							display: inline-block;
							clear: both;
							@include boxshadow((
								0 2px 3px black(0.05)
								));

							&:not(:last-child) {
								margin-right: 20px;
							} 
							
							div {
								float: left;
								font-size: 1.2em;
								padding: 8px 15px;
							}
							div:first-child {
								background-color: #fff;
								color: $blue;
								padding: 8px 15px;
							}
							// div:last-child {
							// 	background-color: $logoblue;
							// 	color: #fff;
							// 	padding: 8px 10px;
							// }
						}
					}
				}
				a.button {
					@extend .buttonshadow;
					background-color: $logoblue;
					color: #fff;
					font: 500 1em $base;
					display: inline-block;
					// text-shadow: 0 -1px 0 black(0.1);
					text-transform: uppercase;
					letter-spacing: 2px;
					padding: 15px 20px 20px;
					
					i.fa {
						margin-right: 15px;
					}
					&.buy {
						margin-right: 15px;
					}
					&.try {
						background-color: $blue;
					}
				}
			}
		}
	}
}




// Blog
.pane-6 {
	background-color: $logoblue;
	// background-color: $gray;

	div#blog {
		width: 100%;
		height: calc(100% - 180px);
		padding-top: 130px;

		div#blog-content {
			width: $semifullwidth;
			height: 100%;
			max-height: 1000px;
			margin: 0 auto;
			// background-color: black(0.1);

			section#bigarticle {
				width: (100% / 3) * 2;
				height: 100%;
				font-size: 0;
				// background-color: black(0.1);
				text-align: center;
				float: left;

				&:before {
					height: 100%;
					display: inline-block;
					vertical-align: middle;
					content: '';
					margin-right: -0.25em;
				}

				div#bigarticle-content {
					width: 100%;
					background-color: #fff;
					font-size: 12pt;
					display: inline-block;
					vertical-align: middle;
					position: relative;

					article {
						text-align: left;
						margin: 30px;

						h1.blog-title {
							color: $blue;
							font: 300 1.8em $base;
							margin-bottom: 5px;
						}
						div.blog-byline {
							font: 300 1em $base;
							margin-bottom: 20px;
						}
						p {
							font: 300 0.9em $base;
							line-height: 1.4em;
							margin-bottom: 20px;
						}
					}

					div#bigarticle-etc {
						width: 50%;
						position: absolute;
						top: 0;
						right: -50%;
						
						div#bigarticle-bubble {
							position: absolute;
							padding-top: 20px;

							&:before {
								width: 0;
								height: 0;
								display: block;
								position: absolute;
								top: 40px;
								left: 0;
								content: ' ';
								border-top: 20px solid transparent;
								border-left: 30px solid #fff;
								border-right: 30px solid transparent;
								border-bottom: 20px solid transparent;
							}
							
							div.head {
								width: 80px;
								height: 80px;
								background: url('../img/logo-white.png') no-repeat center center;
								background-size: contain;
								float: left;
								margin-left: 50px;
							}
							div.text {
								float: left;
								margin-left: 20px;

								h1.title {
									color: #fff;
									font: 200 4em $base;
									line-height: 70px;
									margin-bottom: 60px;
								}
							}
						}
						h3.moreentries {
							color: #fff;
							font: 500 0.9em $base;
							text-align: left;
							text-transform: uppercase;
							letter-spacing: 1px;
							margin-top: 130px;
							margin-left: 30px;
						}
						ul {
							list-style-type: none;
							margin: 20px 0 0;
							padding: 0;

							li {
								text-align: left;
								margin-left: 30px;
								margin-bottom: 20px;

								a {
									color: #fff;
									font: 400 1em $base;
								}
								&.more {
									text-align: right;

									a {
										font-size: 0.8em;
										text-transform: uppercase;
										letter-spacing: 2px;
										border-bottom: 1px dotted white(0.5);
									}
								}
							}
						}
					}
				}
			}
			aside#blogsidebar {
				width: 33.3333%;
				float: right;
				// background-color: black(0.1);
				padding-top: 200px;
			}
		}
	}
}




// Contact Map
// .pane-7 {
// 	div#bgmap {
// 		width: 100%;
// 		height: 100%;
// 		background-color: #eee;
// 	}
// }
// div#maptooltip {
// 	width: 350px;
// 	background-color: $logoblue;
// 	background-color: hextorgba($logoblue, 0.9);
// 	color: #fff;
// 	text-shadow: 0 1px 1px black(0.25);
// 	margin-top: 30px;
// 	padding: 20px 0;

// 	h1 {
// 		font: 500 3em $dosis;
// 		margin-bottom: 5px;
// 	}
// 	address {
// 		font: italic 400 1.5em $base;
// 		margin-bottom: 30px;
// 	}
// 	h2 {
// 		font: 500 2em $base;

// 		span {
// 			font-weight: 400;
// 			font-size: 0.9em;
// 			line-height: 0.5em;
// 			margin: 0 2px;
// 		}
// 	}
// }

// Contact
.pane-7 {
	background-color: #f7f7f7;

	div#contact {
		width: $fullwidth;
		min-width: $fullwidth;
		height: calc(100% - 190px);
		margin: 0 auto;
		padding: 120px 0 0;

		div#contact-content {
			width: 100%;
			height: 100%;
			font-size: 0;
			text-align: center;
			
			&:before {
				height: 100%;
				display: inline-block;
				vertical-align: middle;
				margin-right: -0.25em;
				content: '';
			}
			
			div#contact-form {
				max-width: 500px;
				font-size: 12pt;
				text-align: center;
				display: inline-block;
				vertical-align: middle;
				background-color: transparent;
				
				h1 {
					font-size: 2em;
				}
				h2 {
					font-weight: 300;
				}
				form {
					input[type="text"],
					textarea {
						width: 400px;
					}
					textarea {
						min-height: 80px;
						max-height: 80px;
					}
				}
			}
		}
	}
}


// Demo
div#demopane {
	@extend .verticalcenter;

	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	// opacity: 0;
	// @include transition(opacity 0.5s ease-in-out);
	@include boxshadow((
		inset 0 0 0 black(0)
		));

	div.overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: black(0.5);
		z-index: -1;
	}
}

div#demopane-content,
div#contact-form {
	@extend .verticalcentered;
	max-width: 400px;
	background-color: #fafafa;
	padding: 30px 40px 40px;
	z-index: 2;
	
	h1, h2 {
		color: $darkblue;
		padding: 0;
		// text-shadow: 0 1px 1px black(0.2);
	}
	h1 {
		font: 400 3em $dosis;
		margin: 0 0 10px;
	}
	h2 {
		font: 400 1.2em $base;
		margin: 0 0 30px;
	}
	input[type="text"],
	textarea {
		@extend .animated;

		width: 300px;
		color: #222;
		font: 300 1.2em $base;
		text-align: center;
		display: block;
		margin: 0 auto 15px;
		padding: 12px 15px;
		border: none;
		outline: none !important;
		border-top: 0px solid $logoblue;
		border-left: 0px solid $logoblue;
		border-right: 0px solid $logoblue;
		border-bottom: 2px solid $logoblue;
		@include boxshadow((
			0 2px 4px black(0.05)
			));
	}
	textarea {
		text-align: left;
		font-size: 1em;
		min-height: 100px;
		max-height: 100px;
	}
	input[type="submit"] {
		@extend .buttonshadow;
		@extend .animated;
		
		color: #fff;
		background-color: $logoblue;
		font: 400 1.25em $base;
		letter-spacing: 2px;
		text-transform: uppercase;
		display: block;
		margin: 30px auto 0;
		padding: 10px 30px 14px;
		border: none;
		outline: none;
		// @include boxshadow((
		// 	0 2px 4px black(0.2)
		// ));
}
}

.animated {
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
	}
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

   .ir {
   	background-color: transparent;
   	border: 0;
   	overflow: hidden;
   	/* IE 6/7 fallback */
   	*text-indent: -9999px;
   }

   .ir:before {
   	content: "";
   	display: block;
   	width: 0;
   	height: 150%;
   }

   .hidden {
   	display: none !important;
   	visibility: hidden;
   }

   .visuallyhidden {
   	border: 0;
   	clip: rect(0 0 0 0);
   	height: 1px;
   	margin: -1px;
   	overflow: hidden;
   	padding: 0;
   	position: absolute;
   	width: 1px;
   }

   .visuallyhidden.focusable:active,
   .visuallyhidden.focusable:focus {
   	clip: auto;
   	height: auto;
   	margin: 0;
   	overflow: visible;
   	position: static;
   	width: auto;
   }

   .invisible {
   	visibility: hidden;
   }

   .clearfix:before,
   .clearfix:after {
   	content: " "; /* 1 */
   	display: table; /* 2 */
   }

   .clearfix:after {
   	clear: both;
   }

   .clearfix {
   	*zoom: 1;
   }

/* ==========================================================================
   Responsive Design.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
   	/* Style adjustments for viewports that meet the condition */
   }

   @media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {
   	/* Style adjustments for high resolution devices */
   }

/* ==========================================================================
   Print styles.
   ========================================================================== */

   @media print {
   	* {
   		background: transparent !important;
   		color: #000 !important;
   		box-shadow: none !important;
   		text-shadow: none !important;
   	}

   	a,
   	a:visited {
   		text-decoration: underline;
   	}

   	a[href]:after {
   		content: " (" attr(href) ")";
   	}

   	abbr[title]:after {
   		content: " (" attr(title) ")";
   	}

   	.ir a:after,
   	a[href^="javascript:"]:after,
   	a[href^="#"]:after {
   		content: "";
   	}

   	pre,
   	blockquote {
   		border: 1px solid #999;
   		page-break-inside: avoid;
   	}

   	thead {
   		display: table-header-group;
   	}

   	tr,
   	img {
   		page-break-inside: avoid;
   	}

   	img {
   		max-width: 100% !important;
   	}

   	@page {
   		margin: 0.5cm;
   	}

   	p,
   	h2,
   	h3 {
   		orphans: 3;
   		widows: 3;
   	}

   	h2,
   	h3 {
   		page-break-after: avoid;
   	}
   }



